{% extends 'base.html' %}

{% block body %}
 <div class="container">
  <h2>Sign up</h2>
  <form method="POST" novalidate>
   {% csrf_token %}
   
    {% include 'includes/form.html' %}

   <button type="submit" class="btn btn-primary">Create an account</button>
  </form>
 </div>
{% endblock %}
