{% extends 'base.html' %}


 {% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
 {% endblock %}

 {% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
	<th scope="col">Board</th>
	<th scope="col">Post</th>
	<th scope="col">Topics</th>
	<th scope="col">Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
         <td>
	  <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a><br>
	  <small style="text-muted d-block">{{ board.description }}</small>
	 </td>
	 <td class="align-middle">0</td>
	 <td class="align-middle">0</td>
	 <td></td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

 {% endblock %}
